*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: white;
}

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*header-navigation bar*/
.head-page {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
  box-shadow:
  0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 1px 6px rgba(46, 47, 66, 0.08);
  display: flex;
}

.header-div {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-header {
  background-color: white;
  display: flex;
  align-items: center;
}

.logo-nav {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-nav .logo-span {
  color: #2e2f42;
}

.menu-ul {
  display: flex;
  gap: 40px;

}
.list-nav:nth-of-type(1) .menu-nav {
  position: relative;
  color: #404bbf;
}
.list-nav:nth-of-type(1) .menu-nav::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}
.list-nav .menu-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-nav .menu-nav:hover,
.list-nav .menu-nav:focus {
  color: #404bbf;
}

.address  {
  margin-left: auto;
  display: flex;
  font-style: normal;
}

.address-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:40px;
 }

.address .menu-nav {
  color: #434455;
   font-size: 16px;
    line-height: 1.5;
  letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .menu-nav:hover,
.address .menu-nav:focus {
  color: #404BBF;
}

/*hero section*/
.first-section {
  background-color: #2E2F42;
  max-width: 1440px;
  left: 0px;
  top: 72px;
  margin: 0 auto;
  padding: 188px 0;
   background-image:
    linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.first-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hero-title {
  max-width: 496px;
  height: 120px;
  font-family: 'Roboto', sans-serif;
  Top: 260px;
  Left: 472px;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4D5AE5;
  color:white;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  top: 428px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
  
}
.hero-button:hover,
.hero-button:focus{
    background-color:#404BBF;
    }
/* second section */
.second-section{
        padding: 120px 0;  
}
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.second-ul {
  display: flex;
  gap: 24px;
}
.second_list {
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);
}
.second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}
 .second-section .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* icon container arragement ;  */
.second_list .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border: 1px solid #8e8f99;
  background-color: #F4F4FD;
  border-radius: 4px;
  margin-bottom: 8px;
  
}

/* section third our- team*/ 
.section-third {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-ul {
  display: flex;
  gap: 24px;
 
}
.team-ul>.team-list {
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.third-section .social-ul {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 24px;
  }
  .third-section .social-ul .team-list {
  width: 40px;
  height: 40px;
  }
  

.third-section .social-ul .team-list .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
  
}
.third-section .social-list .team-list .social-link:hover,
.third-section .social-list .team-list .social-link:focus {
  background-color: #404bbf;
}
/* ul>ul div */
.team-div__container {
  gap: 24px;
  padding: 32px 0;
}
.team-ul .staff-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-ul .text
{
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; 
}

/* forth section */ 
.fourth-section {
  padding: 120px 0;
}
.portfolio-title
{
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}
.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-ul .list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-ul .list-item:hover {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
 
.portfolio-ul .list-item .img-container {
   width: 360px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.portfolio-ul .list-item .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.portfolio-ul .list-item .img-container .img-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-ul .list-item:hover .img-container .img-text {
  transform: translateY(0);
}
.portfolio-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.forth-section .portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.list-item .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}


/* footer logo */ 
.footer {
  background-color: #2e2f42;
  padding: 100px 0;

}

.footer .text {
  color: #F4F4FD;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-span {
  color: #f4f4fd;
}

.footer .text {
  max-width: 264px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .footcontainer {
  margin-right: 120px;
}

.footer .social-container .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;  
}

.footer .social-container .social-list{
  display: flex;
  gap: 16px;
}

.footer .social-container .social-list .list-item {
  width: 40px;
  height: 40px;
}
.footer .social-container .social-list .list-item .social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4D5AE5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-container .social-list .list-item .social-link:hover, 
.footer .social-container .social-list .list-item .social-link:focus {
  background-color: #31D0AA;
}

/* modal - label and container part */ 
.form-text {
margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
}
.form-input {
  display: flex;
  gap: 24px;
}
.label-form {
   width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;

}
.label-input::placeholder{
  color: #ffffff;
}

.form-submit-button{
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border:none;
  border-radius: 4px;
}

.svg-class{
  fill: #f4f4fd;
}
.svg-button{
  margin-left: 16px;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button{
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus{
  background-color: #404BBF;
  border: none;
}

.modal-button:hover .svg-modal-button,
.modal-button:focus .svg-modal-button{
  fill: #FFFFFF;
}

.modal-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 16px;
}

.modal-container{
  margin-bottom: 8px;
}

/* to be moved */ 
.textarea{
  margin-bottom: 16px;
}

.modal-label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  background-color: transparent;
}

.modal-input:focus{
  border-color: #4D5AE5;
}

.modal-wrapper{
  position: relative;
}

.modal-icon{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox{
  margin-bottom: 24px;

}


.modal-input:focus + .modal-icon{
  fill: #4D5AE5;
}

.modal-checkbox:checked +.privacy-label .modal-span{
  background-color: #404bbf;
  border:none;
  fill:#f4f4fd;
}
.modal-link{
  color: #4D5AE5;
  
}

.modal-span{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  background-color: transparent;
}
.privacy-label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.comment{
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
}
.form-submit-button{
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border:none;
  border-radius: 4px;
}

.form-end-button{
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.svg-modal-button{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
